datasets
soundfile
numpy
pandas
tqdm
torch
torchaudio
jiwer
evaluate
transformers
accelerate
sacrebleu
librosa
python-telegram-bot==21.6
python-telegram-bot[job-queue]
python-dotenv==1.0.1
matplotlib
mplcyberpunk
tqdm
nltk
klpt